@import "../normalize/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");

$text-color: #252b42;
$second-text-color: #737373;
$light-text-color: #fff;
$brown-color: #784f33;
$width: calc(1050 / 1442) * 100%;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Martel", sans-serif;
  font-style: normal;
}

.header {
  background-image: url("../../imgs/header-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  .header__navbar {
    padding: 0 60px;
    .wrapper {
      width: calc(1050 / 1322) * 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .header__logo {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $text-color;
      display: inline-block;
      padding: 36px 0 36px 0;
    }
    .header__links {
      list-style: none;
      display: inline-block;
      padding: 40px 0;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.2px;
          margin-right: 21px;
          color: $second-text-color;
          transition: opacity 0.3s ease;
          &:last-of-type {
            margin: 0;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .header__section {
    display: flex;
    width: $width;
    margin: 0 auto;
    .text-block {
      width: 100%;
    }
    .buttons__wrapper {
      padding-top: 35px;
      width: 100%;
      display: flex;
      button {
        border: none;
        padding: 10px 36px;
        width: 182px;
        height: 48px;
        border-radius: 37px;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.2px;
        cursor: pointer;
        &:first-of-type {
          color: $light-text-color;
          background-color: $brown-color;
          margin-right: 10px;
        }
        &:last-of-type {
          color: $brown-color;
          background: none;
          border: 1px solid $brown-color;
        }
      }
    }
    .header__section-text-wrapper {
      display: flex;
      align-items: center;
      h1 {
        font-weight: 900;
        font-size: 58px;
        line-height: 65px;
        letter-spacing: 0.2px;
        color: $text-color;
        margin: 0;
      }
      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: $second-text-color;
        padding-top: 35px;
      }
    }
    .header__section-img-wrapper {
      img {
        width: 100%;
        height: 100%;
      }
    }
    div {
      width: 50%;
    }
  }
}

.content {
  .practice-areas {
    width: $width;
    margin: 0 auto;
    padding: 100px 0;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      list-style: none;
      padding-top: 80px;
      li {
        min-height: 147px;
        background: #f9f9f9;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          padding-top: 10px;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.1px;
          color: $text-color;
        }
        .buisness-text {
          color: $light-text-color;
        }
        .icon {
          width: 53px;
          height: 53px;
          display: inline-block;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .famili-icon {
          background-image: url("../../imgs/low-icon.svg");
        }
        .business-icon {
          background-image: url("../../imgs/low-2-icon.svg");
        }
        .trust-icon {
          background-image: url("../../imgs/trust-icon.svg");
        }
        &:nth-of-type(2) {
          background: #295c7a;
        }
      }
    }
  }
}

.practice-advice {
  padding: 125px 0 80px 0;
  .practice-advice__cards {
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 30px;
    li {
      background-color: #fff;
      padding-top: 30px;
      div {
        padding-left: 30px;
        min-height: 180px;
      }
      h4 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $text-color;
        width: calc(145 / 232) * 100%;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $second-text-color;
        padding-top: 15px;
        width: calc(145 / 232) * 100%;
      }
      img {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}

.about-us {
  padding: 100px 0;
  .about-us__wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    .about-us__video {
      background-image: url("../../imgs/video-background.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 597px;
      height: 442px;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 98px;
        height: 98px;
        background: none;
        background-image: url("../../imgs/video-button.svg");
        background-position: center;
        background-size: cover;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .about-us__text {
      width: calc(333 / 1050) * 100%;
      max-width: 450px;
      .section__title {
        text-align: left;
      }
      .section__subtitle {
        text-align: left;
        padding-top: 10px;
      }
      .text-with-icon {
        padding-top: 30px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .paragraphs {
          max-width: 83%;
        }
        p {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1px;
          text-align: left;
        }
        .subtext {
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: $second-text-color;
        }
        .about-us__icon {
          width: 32px;
          height: 32px;
          background-image: url("../../imgs/icon1of2.svg");
        }
        .about-us__icon_two {
          background-image: url("../../imgs/icon2of2.svg");
        }
      }
    }
  }
}

.subscribe {
  position: relative;
  .icons-row {
    padding: 50px 0;
    list-style: none;
    width: $width;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    li {
      background-size: cover;
      background-position: center;
    }
    .icon-1 {
      width: 103px;
      height: 34px;
      background-image: url("../../imgs/icon1.png");
      position: relative;
      bottom: 15px;
    }
    .icon-2 {
      width: 83px;
      height: 59px;
      background-image: url(../../imgs/icon2.png);
      position: relative;
      bottom: 4px;
    }
    .icon-3 {
      width: 102px;
      height: 75px;
      background-image: url(../../imgs/icon3.png);
    }
    .icon-4 {
      width: 103px;
      height: 42px;
      background-image: url(../../imgs/icon4.png);
      position: relative;
      bottom: 15px;
    }
    .icon-5 {
      width: 104px;
      height: 62px;
      background-image: url(../../imgs/icon5.png);
      position: relative;
      bottom: 4px;
    }
    .icon-6 {
      width: 80px;
      height: 72px;
      background-image: url(../../imgs/icon6.png);
    }
  }
  form {
    margin: 0 auto;
    margin-top: 20px;
    width: calc(986 / 1440) * 100%;
    padding: 30px 50px;
    background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 222;
    position: relative;
    top: 0;
    label {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $light-text-color;
      display: inline-block;
      width: 253px;
    }
    input {
      width: 450px;
      padding: 15px 0 15px 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: $second-text-color;
      background: #f9f9f9;
      border: 1px solid #e6e6e6;
      border-radius: 5px 0 0 5px;
      position: relative;
      left: 5px;
    }
    button {
      padding: 15px 22.5px;
      background-color: #d0a144;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $light-text-color;
      border: 1px solid #e6e6e6;
      border-radius: 0px 5px 5px 0px;
    }
  }
  .background {
    width: 100%;
    height: 77px;
    background: #252b42;
    position: relative;
    bottom: 57px;
    z-index: 1;
  }
}

.get-in-touch {
  padding: 80px 0 155px 0;
  .contacts {
    padding-top: 80px;
    list-style: none;
    width: calc(986 / 1050) * 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      height: 333px;
      .icon {
        width: 72px;
        height: 72px;
        background-position: center;
        background-size: cover;
      }
      .phone-icon {
        background-image: url(../../imgs/phone-icon.svg);
      }
      .location-icon {
        background-image: url(../../imgs/location-icon.svg);
      }
      .mail-icon {
        background-image: url(../../imgs/mail-icon.svg);
      }
      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $text-color;
        padding-top: 15px;
        &:last-of-type {
          font-size: 16px;
          letter-spacing: 0.1px;
        }
      }
      button {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #d0a144;
        width: 154px;
        height: 44px;
        margin-top: 15px;
        border: none;
        border: 1px solid #d0a144;
        border-radius: 5px;
        background: none;
        cursor: pointer;
      }
      &:nth-of-type(2) {
        height: 393px;
        background-color: #252b42;
        p {
          color: #fff;
        }
      }
    }
  }
}

.section_grey {
  background-color: #fafafa;
  .section__subtitle {
    padding-top: 10px;
  }
}

.section__wrapper {
  width: $width;
  margin: 0 auto;
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
  color: $text-color;
}

.section__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: $second-text-color;
  padding-top: 10px;
}
