@import "../normalize/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Martel", sans-serif;
  font-style: normal;
}

.header {
  background-image: url("../../imgs/header-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.header .header__navbar {
  padding: 0 60px;
}
.header .header__navbar .wrapper {
  width: 79.4251134644%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header__navbar .header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  display: inline-block;
  padding: 36px 0 36px 0;
}
.header .header__navbar .header__links {
  list-style: none;
  display: inline-block;
  padding: 40px 0;
}
.header .header__navbar .header__links li {
  display: inline-block;
}
.header .header__navbar .header__links li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-right: 21px;
  color: #737373;
  transition: opacity 0.3s ease;
}
.header .header__navbar .header__links li a:last-of-type {
  margin: 0;
}
.header .header__navbar .header__links li a:hover {
  opacity: 0.7;
}
.header .header__section {
  display: flex;
  width: 72.8155339806%;
  margin: 0 auto;
}
.header .header__section .text-block {
  width: 100%;
}
.header .header__section .buttons__wrapper {
  padding-top: 35px;
  width: 100%;
  display: flex;
}
.header .header__section .buttons__wrapper button {
  border: none;
  padding: 10px 36px;
  width: 182px;
  height: 48px;
  border-radius: 37px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
}
.header .header__section .buttons__wrapper button:first-of-type {
  color: #fff;
  background-color: #784f33;
  margin-right: 10px;
}
.header .header__section .buttons__wrapper button:last-of-type {
  color: #784f33;
  background: none;
  border: 1px solid #784f33;
}
.header .header__section .header__section-text-wrapper {
  display: flex;
  align-items: center;
}
.header .header__section .header__section-text-wrapper h1 {
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0;
}
.header .header__section .header__section-text-wrapper p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 35px;
}
.header .header__section .header__section-img-wrapper img {
  width: 100%;
  height: 100%;
}
.header .header__section div {
  width: 50%;
}

.content .practice-areas {
  width: 72.8155339806%;
  margin: 0 auto;
  padding: 100px 0;
}
.content .practice-areas ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  list-style: none;
  padding-top: 80px;
}
.content .practice-areas ul li {
  min-height: 147px;
  background: #f9f9f9;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .practice-areas ul li p {
  padding-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}
.content .practice-areas ul li .buisness-text {
  color: #fff;
}
.content .practice-areas ul li .icon {
  width: 53px;
  height: 53px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content .practice-areas ul li .famili-icon {
  background-image: url("../../imgs/low-icon.svg");
}
.content .practice-areas ul li .business-icon {
  background-image: url("../../imgs/low-2-icon.svg");
}
.content .practice-areas ul li .trust-icon {
  background-image: url("../../imgs/trust-icon.svg");
}
.content .practice-areas ul li:nth-of-type(2) {
  background: #295c7a;
}

.practice-advice {
  padding: 125px 0 80px 0;
}
.practice-advice .practice-advice__cards {
  padding-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 30px;
}
.practice-advice .practice-advice__cards li {
  background-color: #fff;
  padding-top: 30px;
}
.practice-advice .practice-advice__cards li div {
  padding-left: 30px;
  min-height: 180px;
}
.practice-advice .practice-advice__cards li h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  width: 62.5%;
}
.practice-advice .practice-advice__cards li p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 15px;
  width: 62.5%;
}
.practice-advice .practice-advice__cards li img {
  width: 100%;
  margin-top: 30px;
}

.about-us {
  padding: 100px 0;
}
.about-us .about-us__wrapper {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.about-us .about-us__wrapper .about-us__video {
  background-image: url("../../imgs/video-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 597px;
  height: 442px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .about-us__wrapper .about-us__video button {
  width: 98px;
  height: 98px;
  background: none;
  background-image: url("../../imgs/video-button.svg");
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.about-us .about-us__wrapper .about-us__text {
  width: 31.7142857143%;
  max-width: 450px;
}
.about-us .about-us__wrapper .about-us__text .section__title {
  text-align: left;
}
.about-us .about-us__wrapper .about-us__text .section__subtitle {
  text-align: left;
  padding-top: 10px;
}
.about-us .about-us__wrapper .about-us__text .text-with-icon {
  padding-top: 30px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.about-us .about-us__wrapper .about-us__text .text-with-icon .paragraphs {
  max-width: 83%;
}
.about-us .about-us__wrapper .about-us__text .text-with-icon p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
}
.about-us .about-us__wrapper .about-us__text .text-with-icon .subtext {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.about-us .about-us__wrapper .about-us__text .text-with-icon .about-us__icon {
  width: 32px;
  height: 32px;
  background-image: url("../../imgs/icon1of2.svg");
}
.about-us .about-us__wrapper .about-us__text .text-with-icon .about-us__icon_two {
  background-image: url("../../imgs/icon2of2.svg");
}

.subscribe {
  position: relative;
}
.subscribe .icons-row {
  padding: 50px 0;
  list-style: none;
  width: 72.8155339806%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.subscribe .icons-row li {
  background-size: cover;
  background-position: center;
}
.subscribe .icons-row .icon-1 {
  width: 103px;
  height: 34px;
  background-image: url("../../imgs/icon1.png");
  position: relative;
  bottom: 15px;
}
.subscribe .icons-row .icon-2 {
  width: 83px;
  height: 59px;
  background-image: url(../../imgs/icon2.png);
  position: relative;
  bottom: 4px;
}
.subscribe .icons-row .icon-3 {
  width: 102px;
  height: 75px;
  background-image: url(../../imgs/icon3.png);
}
.subscribe .icons-row .icon-4 {
  width: 103px;
  height: 42px;
  background-image: url(../../imgs/icon4.png);
  position: relative;
  bottom: 15px;
}
.subscribe .icons-row .icon-5 {
  width: 104px;
  height: 62px;
  background-image: url(../../imgs/icon5.png);
  position: relative;
  bottom: 4px;
}
.subscribe .icons-row .icon-6 {
  width: 80px;
  height: 72px;
  background-image: url(../../imgs/icon6.png);
}
.subscribe form {
  margin: 0 auto;
  margin-top: 20px;
  width: 68.4722222222%;
  padding: 30px 50px;
  background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 222;
  position: relative;
  top: 0;
}
.subscribe form label {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #fff;
  display: inline-block;
  width: 253px;
}
.subscribe form input {
  width: 450px;
  padding: 15px 0 15px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  position: relative;
  left: 5px;
}
.subscribe form button {
  padding: 15px 22.5px;
  background-color: #d0a144;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
}
.subscribe .background {
  width: 100%;
  height: 77px;
  background: #252B42;
  position: relative;
  bottom: 57px;
  z-index: 1;
}

.section_grey {
  background-color: #fafafa;
}

.section__wrapper {
  width: 72.8155339806%;
  margin: 0 auto;
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #252b42;
}

.section__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
